fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
redis
pydantic-settings
python-json-logger
prometheus-client
pandas
numpy
scikit-learn
python-multipart
streamlit
requests
locust
jupyter
matplotlib
seaborn
